*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $paragraph-font;
  font-size: 16px;
  line-height: 1.7;
  font-weight: $font-light;
  color: $text-color;
}

section {
  margin: 15px 15px;
  background-color: $color-light;
  box-shadow: 2px 4px 20px 4px #eaeae7;
}

.main-wrapper {
  display: flex;
}

.container-fluid {
  @include container;
}

.container {
  @extend .container-fluid;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Media queries */

@media (max-width: 767px) {
  @include grid("sm");
}

@media (min-width: 768px) {
  @include grid("md");
}

@media (min-width: 992px) {
  @include grid("lg");
}

@media (min-width: 1200px) {
  @include grid("xl");
}
