/* Colors */
$text-color: #191919;
$brand-main-color: #f58220;
$header-color: #a6a6a6;
$paragraph-text-color: #777575;
$link-color: #56819f;
$clicked-link-color: #ffa200;
$color-light: #fff;
$background-color: #f5f5f2;
$pseudo-color: #e3e3e3;
$hover-background-color: #f1f3f3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$paragraph-font: "Roboto", sans-serif;
// $brand-font: "Lobster", cursive;

$font-light: 300;
$font-medium: 500;
$font-bold: 700;

$radius: 4px;
$transition: all 0.5s;
