.table-item-wrapper {
  @include flex;
  @include list;
  height: 56px;

  transition: $transition;

  p:first-of-type {
    flex: 0 0 30%;
    padding-left: 16px;
  }

  p:last-of-type {
    flex: 0 0 30%;
  }

  .icon-wrapper {
    opacity: 0;
    padding-right: 24px;

    a {
      @include icon;
      @include link;
      padding: 6px;
    }

    &:hover {
      color: $clicked-link-color;
    }
  }

  &:hover {
    background-color: $hover-background-color;
    cursor: pointer;

    .icon-wrapper {
      opacity: 1;
    }
  }
}
