.calendar-wrapper {
  margin: 0 auto;
  @include flex;
  justify-content: center;

  .date-period-wrapper {
    @include flex;
    position: relative;
    flex-wrap: nowrap;
    border: 1px solid $pseudo-color;
    border-radius: $radius;
    width: 360px;
    height: 40px;
    margin-right: 20px;

    &::after {
      position: absolute;
      content: "";
      background: $pseudo-color;
      width: 1px;
      height: 80%;
      top: 10%;
      right: 56%;
      transition: $transition;
    }

    &:hover {
      border-color: $input-hover-color;

      a {
        color: $input-hover-color;
      }
    }

    input {
      border: none;
      width: 90px;
      padding-left: 14px;
    }

    a {
      @include icon;
      padding-right: 14px;
    }
  }

  a {
    @include icon;
    color: $color-light;
    width: 41px;
    margin: 10px 0;
  }
}
