.sorting-table-wrapper {
  font-size: 13px;
  @include flex;
  transition: $transition;
}

.sorting-table-text {
  &:hover {
    background-color: $background-color;
    cursor: pointer;
  }
}

.column-wrapper {
  @include flex;
  @include list;
  width: 100%;
  transition: $transition;

  .column-name-wrapper {
    @include flex;
    flex: 1 0 9.09%;
    width: 122px;
    height: 30px;
    border-radius: $radius;
    text-align: center;
    transition: $transition;

    p {
      flex: 1 0 70%;
      position: absolute;
    }

    a {
      font-family: $icon-font;
    }
  }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11 {
    &:hover {
      background-color: $background-color;
      cursor: pointer;

      img {
        opacity: 1;
      }
    }
  }
}
